@model cd_c_weddingPlanner.Models.WeddingView

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>This Wedding</title>
</head>
<body>
    <div class="container"> <!-- BEGIN WHOLE PAGE CONTAINER -->
        <div class="row mt-5"> <!-- BEGIN HEADER ROW -->
            <div class="col">
                <h4>@Model.Wedding.Spouse1 & @Model.Wedding.Spouse2's Wedding</h4>
            </div>
            <div class="col">
                <h6>
                    <a href="/dashboard">Dashboard</a> |
                    <a href="/logout">Logout</a>
                </h6>
            </div>
        </div> <!-- END HEADER ROW -->

        <div class="row mt-2"> <!-- BEGIN MAIN BODY ROW -->
            <div>
                <h5>@Model.Wedding.WeddingDate.ToString("MMMM dd, yyyy")</h5>
            </div>
            <div>
                <h6 class="mt-2">Guests Attending:</h6>
                <ul>
                    @foreach(var guest in Model.Wedding.Guests)
                    {
                    <li class="mt-1">@guest.User.FirstName  @guest.User.LastName</li>
                    }
                </ul>
            </div>
        </div> <!-- END MAIN BODY ROW -->
    </div> <!-- END WHOLE PAGE CONTAINER -->
</body>
</html>